.home-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.us {
  object-fit: cover;
  width: 100%;
  max-width: 900px;
}

.home-container h2 {
  font-size: 30px;
  font-weight: 400;
}

.home-container h3 {
  font-size: 25px;
  font-weight: 0;
}

.manti {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.manti address {
  padding: 5px 0 5px 0;
  border-bottom: 2px solid transparent;
}

.manti address:hover {
  border-bottom: 2px solid rgb(79, 99, 137);
}
