@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
html,
body {
  text-align: center;
  padding: 0;
  margin: 0;
  font-family: "EB Garamond", serif;
}

h1,
h2,
a,
h3,
address {
  font-weight: 400;
  color: rgb(79, 99, 137);
  letter-spacing: 2px;
  padding: 0;
  margin: 0;
}
hr {
  border: none;
  background-color: rgb(134, 185, 205);
  height: 1px;
  margin-bottom: 20px;
  width: 100%;
}

.flex {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 20px;
  row-gap: 10px;
  max-width: 1536px;
  margin: auto;
}

.grid * {
  grid-column: span 12;
}
