@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
html,
body {
  text-align: center;
  padding: 0;
  margin: 0;
  font-family: "EB Garamond", serif;
}

h1,
h2,
a,
h3,
time,
p,
button,
label,
input,
select,
i {
  font-weight: 400;
  color: rgb(79, 99, 137);
  letter-spacing: 2px;
  padding: 0;
  margin: 0;
  font-family: "EB Garamond", serif;
}

input {
  font-weight: 500;
  color: #284879;
}

hr {
  border: none;
  background-color: rgba(114, 136, 144, 0.33);
  height: 1px;
  margin-bottom: 20px;
  width: 100%;
}

.flex {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 20px;
  row-gap: 10px;
  max-width: 1536px;
  margin: auto;
}

.grid * {
  grid-column: span 12;
}

input[type="submit"],
button {
  background-color: rgb(79, 99, 137);
  color: black;
  border: none;
  transition: background-color 0.2s ease, color 0.2s ease;
}

input[type="submit"]:hover,
button:hover {
  cursor: pointer;
  background-color: rgb(102, 128, 175);
  color: rgb(139, 175, 242);
}

input[type="checkbox"] {
  appearance: none;
  border: 1px solid rgba(128, 128, 128, 0.517);
  width: 15px;
  height: 15px;
  transition: background-color 0.2s ease;
  display: block;
  position: relative;
  background-color: white;
}

label:hover,
input[type="checkbox"]:hover {
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: #4c74af;
  border-color: #4c74af;
}

input[type="text"],
input[type="address"],
input[type="submit"],
input[type="number"],
select {
  border: 1px solid rgba(128, 128, 128, 0.517);
  padding: 8px;
}

select {
  box-sizing: border-box;
  background-color: white;
  height: 40px;
}
